.Home {
	display: flex;
	flex-direction: column;
	gap: 48px;
	max-width: 1080px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

@media (max-width: 768px) {
	.Home {
		gap: 30px;
	}
}
