.cardWrapper {
	display: flex;
	justify-content: center;
	padding: 0px 0px;
}

.card {
	background-image: url('/public/img/bgCard.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	gap: 32px;
	overflow: hidden;
	width: 100%;
}

.cardImage {
	height: auto;
	width: 242px;
}

.cardRight {
	justify-content: center;
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: start;
}

.cardRightTop {
	display: flex;
	flex-direction: column;
	gap: 18px;
	align-items: start;
}

.cardSubtitle {
	display: inline-flex;
	padding: 8px 14px;
	align-items: center;
	gap: 6px;
	border-radius: 100px;
	border: 1px solid #e87b47;
	background: linear-gradient(90deg, #613638 0%, #442765 100%);
	box-shadow: 0px 4px 8.4px 0px rgba(115, 107, 234, 0.29);
	color: #fff;
	text-align: center;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%; /* 12px */
	letter-spacing: -0.24px;
}

.cardTitle {
	color: #fff;
	font-family: Anton;
	font-size: 50px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 60px */
	letter-spacing: 1px;
	width: 373px;
}

.cardBtn {
	height: max-content;
}

@media (max-width: 1100px) {
	.cardWrapper {
		display: flex;
		justify-content: center;
		padding: 0px 20px;
	}
}

@media (max-width: 1024px) {
	.cardTitle {
		font-size: 45px;
		width: 300px;
	}
}

@media (max-width: 768px) {
	.cardImage {
		width: 200px;
		flex-shrink: 0;
	}

	.cardTitle {
		font-size: 40px;
		width: 250px;
	}

	.cardSubtitle {
		font-size: 10px;
	}

	.cardPencil {
		width: 14px;
		width: 14px;
	}
}

@media (max-width: 640px) {
	.cardBtn {
		width: -webkit-fill-available;
	}
	.cardImage {
		width: 135px;
		flex-shrink: 0;
		position: relative;
		top: 4px;
	}

	.card {
		gap: 10px;
		align-items: end;
		height: 215.637px;
		overflow: hidden;
	}

	.cardSubtitle {
		padding: 6px 12px;
	}

	.cardTitle {
		font-size: 32px;
		width: 170px;
	}

	.cardRight {
		gap: 16px;
		height: 100%;
	}

	.cardRightTop {
		gap: 12px;
	}

	.cardPencil {
		width: 12px;
		height: 12px;
	}
}

@media (max-width: 480px) {
	.card {
		justify-content: start;
	}
}
